<launch>
    	<rosparam  file="$(find filter)/filter_params.yaml" command="load"/>
	<node name="filter_node" pkg="filter" type="filter_node" output="log"/>
	<rosparam  file="$(find filter)/wall_finder_params.yaml" command="load"/>
	<node name="wall_finder_node" pkg="filter" type="wall_finder_node" output="log"/>
	<include file="$(find odometry)/launch/odometry_node.launch"/>
    <node name="world_map_node" pkg="world_map" type="world_map_node" output="log"/>
</launch>
